<!--{template common/header}-->

<div id="pt" class="bm cl">
    <div class="z">
        <a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
        <em>&rsaquo;</em>
        <a href="$baseurl">理财中心</a> <em>&rsaquo;</em> 账目预算
    </div>
</div>

<style id="diy_style" type="text/css"></style>

<!--[diy=diyaccounttop]--><div id="diyaccounttop" class="area"></div><!--[/diy]-->

<div class="ct2_a wp cl">
    <div class="mn">
        <!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
        <div class="fl ac_fl">
            <div class="bm acb_h">
                <div class="bm_h">
                    <a href="#" class="acb_a">查看收支预算报表</a>
                    <div class="acb_year">
                        <input class="acb_ytext" type="text" name="tally_yeah" value="2013" />
                        <a id="prev_year" class="acb_yup" href="#nogo">11</a>
                        <a id="next_year" class="acb_ydown" href="#nogo"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
    </div>
    <div class="appl">
        <div class="tbn">
            <h2 class="mt bbda">理财中心</h2>
            <ul>
                <li><a href="$baseurl">账单新增</a></li>
                <li><a href="$baseurl&mod=richlist">账本清单</a></li>
                <li class="a"><a href="$baseurl&mod=budget&act=showlist">账目预算</a></li>
                <li><a href="$baseurl&mod=richcount&act=showlist">报表统计</a>
                <li><a href="$baseurl&mod=richset&act=set">账本设置</a></li>
            </ul>
        </div>
    </div>
</div>

<!--[diy=diyaccountbottom]--><div id="diyaccountbottom" class="area"></div><!--[/diy]-->

<!--{template common/footer}-->