<!--{template common/header}-->

<div id="pt" class="bm cl">
    <div class="z">
        <a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
        <em>&rsaquo;</em>
        <a href="$baseurl">理财中心</a> <em>&rsaquo;</em> 账目预算
    </div>
</div>

<style id="diy_style" type="text/css"></style>

<!--[diy=diyaccounttop]--><div id="diyaccounttop" class="area"></div><!--[/diy]-->

<div class="ct2_a wp cl">
    <div class="mn">
        <!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
        <div class="fl ac_fl">
            <div class="bm acb_h">
                <div class="bm_h">
                    <a href="#" class="acb_a">查看收支预算报表</a>
                    <div class="acb_year">
                        <input class="acb_ytext" type="text" id="tally_year" value="{$richbudget_y}" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxLength="4"/>
                        <a id="prev_year" class="acb_yup" href="javascript:;"></a>
                        <a id="next_year" class="acb_ydown" href="javascript:;"></a>
                    </div>
					<div id="div_loading" class="acb_dload"><img src="{IMGDIR}/loading.gif"/>请稍等…</div>
                    <div class="acb_month">
						<a id="prev_month" class="acb_mprev" href="javascript:;"></a>
						<ul class="acb_mul">
						  <li class="acb_mli"><a id="a_m1"></a></li>
                          <li class="acb_mli"><a id="a_m2"></a></li>
                          <li class="acb_mli"><a id="a_m3" class="acb_msel">{$richbudget_m}月</a></li>
                          <li class="acb_mli"><a id="a_m4"></a></li>
                          <li class="acb_mli"><a id="a_m5"></a></li>
						 </ul>
						<a id="next_month" class="acb_mnext" href="javascript:;"></a>
					</div>
                </div>
            </div>
        </div>
		<div class="fl acb_fl">
            <div class="bm acb_h">
                <div class="bm_h">
					<ul class="acb_tul">
						<li class="acb_tli">上月预算情况</li>
						<li class="acb_tli">上月实际情况</li>
						<li class="acb_tli">上月分析情况</li>
						<li class="acb_tli">本月实际情况</li>
						<li class="acb_tli">本月预算情况</li>
					</ul>
                </div>
            </div>
        </div>
		<div class="bm bw0">
			<table id="budgettable" class="dt mtm acb_t">
				<tbody>
				<tr>
					<th colspan="7">
					   <div class="acb_pdiv">支出预算表</div>
					   <span class="acb_collapsed">
						  <a id="a_pay" title="收起/展开" href="javascript:;"><img alt="收起/展开" src="{IMGDIR}/collapsed_no.gif" /></a>
					   </span>
					</th>
				</tr>
				{$phtml}
                <tr>
                    <th colspan="7">
                       <div class="acb_pdiv acb_ediv">收入预算表</div>
                       <span class="acb_collapsed">
                          <a id="a_earn" title="收起/展开" href="#"><img alt="收起/展开" src="{IMGDIR}/collapsed_no.gif" /></a>
                       </span>
                    </th>
                </tr>
                {$ehtml}
				</tbody>
			</table>
		</div>
        
    </div>
    <div class="appl">
        <div class="tbn">
            <h2 class="mt bbda">理财中心</h2>
            <ul>
                <li><a href="$baseurl">账单新增</a></li>
                <li><a href="$baseurl&mod=richlist">账本清单</a></li>
                <li class="a"><a href="$baseurl&mod=budget">账目预算</a></li>
                <li><a href="$baseurl&mod=richcount&act=showlist">报表统计</a></li>
                <li><a href="$baseurl&mod=richset&act=set">账本设置</a></li>
            </ul>
        </div>
    </div>
</div>

<!--[diy=diyaccountbottom]--><div id="diyaccountbottom" class="area"></div><!--[/diy]-->

<script type="text/javascript" src="{$basedir}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{$basedir}js/budget.js"></script>
<!--{template common/footer}-->