<!--{template common/header}-->

<div id="pt" class="bm cl">
    <div class="z">
        <a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
        <em>&rsaquo;</em>
        <a href="$baseurl">理财中心</a> <em>&rsaquo;</em> 账目预算
    </div>
</div>

<style id="diy_style" type="text/css"></style>

<!--[diy=diyaccounttop]--><div id="diyaccounttop" class="area"></div><!--[/diy]-->

<div class="ct2_a wp cl">
    <div class="mn">
        <!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
        <div class="fl ac_fl">
            <div class="bm acb_h">
                <div class="bm_h">
                    <a href="#" class="acb_a">查看收支预算报表</a>
                    <div class="acb_year">
                        <input class="acb_ytext" type="text" name="tally_yeah" value="2013" />
                        <a id="prev_year" class="acb_yup" href="#"></a>
                        <a id="next_year" class="acb_ydown" href="#"></a>
                    </div>
                    <div class="acb_month">
						<a id="prev_month" class="acb_mprev" href="#"></a>
						<ul class="acb_mul">
						  <li class="acb_mli"><a id="a_m1">8月</a></li>
                          <li class="acb_mli"><a id="a_m2">9月</a></li>
                          <li class="acb_mli"><a id="a_m3">10月</a></li>
                          <li class="acb_mli"><a id="a_m4">11月</a></li>
                          <li class="acb_mli"><a id="a_m5">12月</a></li>
						 </ul>
						<a id="next_month" class="acb_mnext" href="#"></a>
					</div>
                </div>
            </div>
        </div>
		<div class="fl acb_fl">
            <div class="bm acb_h">
                <div class="bm_h">
					<ul class="acb_tul">
						<li class="acb_tli">上月预算情况</li>
						<li class="acb_tli">上月实际情况</li>
						<li class="acb_tli">上月分析情况</li>
						<li class="acb_tli">本月实际情况</li>
						<li class="acb_tli">本月预算情况</li>
					</ul>
                </div>
            </div>
        </div>
		<div class="bm bw0">
			<table id="budgettable" class="dt mtm acb_t">
				<tbody>
				<tr>
					<th colspan="6">支出预算表</th>
				</tr>
				<tr>
					<td></td>
					<td onmouseout="display('bfav_2');" onmouseover="display('bfav_2');" title="">
					<strong>#2</strong>
					<a id="bfav_2" style="visibility: hidden;" onclick="blockFavorite(2);" href="javascript:;">
					<img class="favmark" title="收藏" alt="normal" src="static/image/common/fav_grey.gif">
					</a>
					</td>
					<td>群组帖子</td>
					<td>特殊主题</td>
					<td>
					<a target="_blank" href="group.php?mod=index">首页</a>
					</td>
					<td>
					<a target="_blank" href="portal.php?mod=portalcp&ac=block&op=block&bid=2">属性</a>
					<a target="_blank" href="portal.php?mod=portalcp&ac=block&op=data&bid=2">数据</a>
					<a href="portal.php?mod=portalcp&ac=portalblock&op=verifydata&searchkey=2">审核</a>
					<a href="portal.php?mod=portalcp&ac=portalblock&op=verifieddata&searchkey=2">推送库</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		
        <!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
    </div>
    <div class="appl">
        <div class="tbn">
            <h2 class="mt bbda">理财中心</h2>
            <ul>
                <li><a href="$baseurl">账单新增</a></li>
                <li><a href="$baseurl&mod=richlist">账本清单</a></li>
                <li class="a"><a href="$baseurl&mod=budget&act=showlist">账目预算</a></li>
                <li><a href="$baseurl&mod=richcount&act=showlist">报表统计</a>
                <li><a href="$baseurl&mod=richset&act=set">账本设置</a></li>
            </ul>
        </div>
    </div>
</div>

<!--[diy=diyaccountbottom]--><div id="diyaccountbottom" class="area"></div><!--[/diy]-->

<!--{template common/footer}-->