<!--{template common/header}-->

<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em>
		<a href="$baseurl">理财中心</a> <em>&rsaquo;</em> 账单新增
	</div>
</div>

<style id="diy_style" type="text/css"></style>

<!--[diy=diyaccounttop]--><div id="diyaccounttop" class="area"></div><!--[/diy]-->

<div class="ct2_a wp cl">
	<div class="mn">
		<!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
		<div class="bm bw0">
			<h1 class="mt">account_add</h1>
			<ul curstatus="li.pay" class="tb cl">
				<li id="li.pay" class="a"><a>支出</a></li>
				<li id="li.earn" style="cursor:pointer"><a>收入</a></li>
				<li id="li.transfer" style="cursor:pointer"><a>转账</a></li>
				<li id="li.lend" style="cursor:pointer"><a>借贷/代付</a></li>
			</ul>
			<p id="lend.p" class="tbmu bw0" style="display: none">
				<a class="a">代&nbsp;付</a><span class="pipe">|</span>
                <a style="cursor:pointer">借&nbsp;入</a><span class="pipe">|</span>
                <a style="cursor:pointer">借&nbsp;出</a><span class="pipe">|</span>
                <a style="cursor:pointer">借&nbsp;债</a><span class="pipe">|</span>
                <a style="cursor:pointer">还&nbsp;债</a>
			</p>
			<form action="$baseurl&mod=richadd&op=$operation" method="post"
			 enctype="multipart/form-data" autocomplete="off" onsubmit="">
			 	<input type="hidden" value="{FORMHASH}" name="formhash" />
				<div class="acexfm" style="margin-top: 1px;"  id="richaddlist">
					<table cellspacing="0" cellpadding="0">
						<th>
							<div class="avatar" >
								<a id="ac_pic" title="待开发功能" href="javascript:;">
									<span id="ac_pic_tar">待开发功能</span>
									<!--{avatar($_G[uid],middle)}-->
								</a>
							</div>
						</th>
						<td class = "acarea">
							<ul class="ul-1">
								<label style="width: auto;">账单日期：</label>
								<input type="text" readonly="readonly" onclick="showcalendar(event, this)" value="{$acc_date}" class="px" id="richdate"  tabindex="4" />
								<label>账单名称：</label>
								<input id="richcategory" type="hidden" value="">
								<input id="richname" class="px" style="width:120px" tabindex="1"/>
								<a id="richnamebtn" class="dpbtn" >^</a>
								<input id="richnamevalue" type="hidden" value = "{$titledata}" />
								<img src="{IMGDIR}/edit.gif" class="aimg" style="" />
							</ul>
							<ul class="ul-1">
								<label style="width: auto;">账单金额：</label>
								<input id="richnum" class="px" style="width:120px" tabindex="2"/>
								<label style="width: 83px;">账单归属：</label>
								<span class="ftid" style="margin-right: 0;">
									<select id="richtype" class="ps" width="128" tabindex="3" >
									<!--{loop $account->account_config['cattype'] $key $value}-->
										<option value="{$key}" {if $key == "0"} selected="selected"{/if}>{$value}</option>
									<!--{/loop}-->
									</select>
								</span>
								<img src="{IMGDIR}/edit.gif" class="aimg" />
							</ul>
							<ul class="ul-2">
								<textarea name="message" id="message" class="xg1" onkeyup="strLenCalc(this, 'maxlimit')" tabindex="5">此处可输入详细信息，限制最大字数为200。</textarea>
								<input id="maxlimit" name="maxlimit" type="hidden" />
							</ul>
						</td>
						<td>
							<ul	class="ul-2" style="cursor: default;"><font color=#ff0000><strong>推荐：使用拼音首字母查找（如：zc=>早餐）</strong></font></ul>
							<ul	class="ul-2">
								<img src="{IMGDIR}/mood_input_btn.png" class="aimg" id="richaddbtn" />
								<label class="txtlabel" >当前金额<br/>单位：元(￥)</label>
							</ul>
						</td>
					</table>
				</div>
			</form>
		</div>
		
		<div class="ct_ac wp">
			<div class="mn" style="padding-top: 0px;">
				<div class="bm">
					<div class="bm_h ac_smreport cl">
						<h3><img src="{IMGDIR}/viewpay.gif" />&nbsp; 财务收支简报表</h3>
					</div>
					<dl class="bm_c">
						<dt class="ptn pbn bbda">净资产：&nbsp; &nbsp; &nbsp;元</dt>
						<dd>
							<table class="ac_tb" cellspacing="0" cellpadding="0">
								<tr class="h"><th style="width: 60px;">&nbsp;</th><th>本&nbsp;日</th><th>本&nbsp;周</th><th>本&nbsp;月</th></tr>
								<tr><th><div class="ac-icon">收&nbsp;入</div></th><th>￥{$acc_amount['dem']}</th><th>￥{$acc_amount['wem']}</th><th>￥{$acc_amount['mem']}</th></tr>
								<tr class="alt"><th><div class="ac-icon ac-icon-pay">支&nbsp;出</div></th><th>￥{$acc_amount['dpm']}</th><th>￥{$acc_amount['wpm']}</th><th>￥{$acc_amount['mpm']}</th></tr>
							</table>
						</dd>
						<dd>
							本月预算支出 ￥0 元， 还剩 ￥0 元 可以消费。
						</dd>
					</dl>
				</div>
				<div class="bm">
					<div class="bm_h ac_smreport cl">
						<h3><img src="static/image/feed/poll.gif" />&nbsp; 本月收支趋势图</h3>
					</div>
					<div  class="bm_c">
						<div id="container" style="width: 100%; height: 220px; margin: 0 auto"></div>
					</div>
				</div>
			</div>
			<div class="sd">&nbsp;</div>
		</div>
		<!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
	</div>
	<div class="appl">
		<div class="tbn">
			<h2 class="mt bbda">理财中心</h2>
			<ul>
				<li class="a"><a href="$baseurl">账单新增</a></li>
				<li><a href="$baseurl&mod=richlist&act=showlist">账本清单</a></li>
				<li><a href="$baseurl&mod=richbudget&act=showlist">账目预算</a></li>
				<li><a href="$baseurl&mod=richcount&act=showlist">报表统计</a>
				<li><a href="$baseurl&mod=richset&act=set">账本设置</a></li>
			</ul>
		</div>
	</div>
</div>

<!--[diy=diyaccountbottom]--><div id="diyaccountbottom" class="area"></div><!--[/diy]-->

<script type="text/javascript" src="{$_G[setting][jspath]}calendar.js?{VERHASH}"></script>
<script type="text/javascript" src="{$basedir}js/jquery-1.6.2.min.js"></script>
<link type="text/css" href="{$basedir}js/calculator.css" rel="stylesheet" />
<script type="text/javascript" src="{$basedir}js/calculator.js"></script>
<link type="text/css" href="{$basedir}js/catcomplete.css" rel="stylesheet" />
<script type="text/javascript" src="{$basedir}js/catcomplete.js"></script>
<!-- <script type="text/javascript" src="{$basedir}js/jquery.form.js"></script>
<script type="text/javascript" src="{$basedir}js/pinyin.dict.src.js"></script>
<script type="text/javascript" src="{$basedir}js/pinyin.js"></script> -->
<script type="text/javascript" src="{$basedir}js/highcharts.js"></script>
<script type="text/javascript" src="{$basedir}js/richadd.js"></script>
<script type="text/javascript">
simulateSelect('richtype');
</script>
<!--{template common/footer}-->