<!--{template common/header}-->

<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em>
		<a href="$baseurl">理财中心</a> <em>&rsaquo;</em> 账单新增
	</div>
</div>

<style id="diy_style" type="text/css"></style>

<!--[diy=diyaccounttop]--><div id="diyaccounttop" class="area"></div><!--[/diy]-->

<div class="ct2_a wp cl">
	<div class="mn">
		<!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
		<div class="bm bw0">
			<h1 class="mt">account_add</h1>
			<ul curstatus="li.pay" class="tb cl">
				<li id="li.pay" class="a"><a>支出</a></li>
				<li id="li.earn" style="cursor:pointer"><a>收入</a></li>
				<li id="li.transfer" style="cursor:pointer"><a>转账</a></li>
				<li id="li.loandebt" style="cursor:pointer"><a>借贷</a></li>
			</ul>
			<p id="p.loandebt" class="tbmu bw0" style="display: none" curstatus="a.borrow">
                <a id="a.borrow" class="a">借&nbsp;入</a>&nbsp;&nbsp;&nbsp;&nbsp;<a id="a.loan" style="cursor:pointer">借&nbsp;出</a><span class="pipe">|</span>
                <a id="a.repay"  style="cursor:pointer">还&nbsp;债</a>&nbsp;&nbsp;&nbsp;&nbsp;<a id="a.debt" style="cursor:pointer">收&nbsp;债</a>
			</p>
			<form action="$baseurl&mod=richadd&op=$operation" method="post"
			 enctype="multipart/form-data" autocomplete="off" onsubmit="">
			 	<input type="hidden" value="{FORMHASH}" name="formhash" />
				<div class="acexfm" style="margin-top: 1px;"  id="richaddlist">
					<table cellspacing="0" cellpadding="0">
						<th>
							<div class="avatar" >
								<a id="ac_pic" title="待开发功能" href="javascript:;">
									<span id="ac_pic_tar">待开发功能</span>
									<!--{avatar($_G[uid],middle)}-->
								</a>
							</div>
						</th>
						<td class = "acarea">
							<ul class="ul-1">
								<label id="l_1" style="width: auto;">账单日期：</label>
								<input type="text" readonly="readonly" onclick="showcalendar(event, this)" value="{$acc_date}" class="px" id="richdate"  tabindex="4" />
								<label id="l_2">账单名称：</label>
								<span class="ftid" style="margin-right: 0;">
									<select id="richtype_out" class="ps" width="128" tabindex="4" style="display:none;"></select>
								</span>
								<input id="richcategory" type="hidden" value="">
								<input id="richname" class="px" style="width:120px" tabindex="1"/>
								<a id="richnamebtn" class="dpbtn" >^</a>
								<img src="{IMGDIR}/edit.gif" class="aimg"/>
							</ul>
							<ul class="ul-1">
								<label id="l_3" style="width: auto;">账单金额：</label>
								<input id="richnum" class="px" style="width:120px" tabindex="2"/>
								<label id="l_4" style="width: 83px;">账单归属：</label>
								<span class="ftid" style="margin-right: 0;">
									<select id="richtype" class="ps" width="128" tabindex="3" ></select>
								</span>
								<img src="{IMGDIR}/edit.gif" class="aimg" />
							</ul>
							<ul class="ul-2">
								<textarea name="message" id="message" class="xg1" onkeyup="strLenCalc(this, 'maxlimit')" tabindex="5">此处可输入详细信息，限制最大字数为200。</textarea>
								<input id="maxlimit" name="maxlimit" type="hidden" />
							</ul>
						</td>
						<td>
							<ul	class="ul-2" style="cursor: default;"><span id="s_help" style="color:#ff0000; font-weight: bolder;">推荐：使用拼音首字母查找（如：zc=>早餐）</span></ul>
							<ul	class="ul-2">
								<img src="{IMGDIR}/mood_input_btn.png" class="aimg" id="richaddbtn" />
								<label class="txtlabel" >当前金额<br/>单位：元(￥)</label>
							</ul>
						</td>
					</table>
				</div>
			</form>
		</div>

		<div class="ct_ac">
			<div class="mn" style="padding-top: 0px;">
				<div class="bm">
					<div class="bm_h ac_smreport cl">
						<h3><img src="{IMGDIR}/viewpay.gif" />&nbsp; 财务收支简报表</h3>
					</div>
					<dl class="bm_c">
						<dt class="ptn pbn bbda">净资产：&nbsp;&nbsp;<a id="a_totalamount" class="num">{$acc_amount['totalamount']}</a>&nbsp;&nbsp;元</dt>
						<dd>
							<table id="tb_account" curdate="{$acc_datetime}" class="ac_tb" cellspacing="0" cellpadding="0">
								<tr class="h"><th style="width: 60px;">&nbsp;</th><th>本&nbsp;日</th><th>本&nbsp;周</th><th>本&nbsp;月</th></tr>
								<tr><th><div class="ac-icon">收&nbsp;入</div></th><th><a id="a_dem" class="num">￥{$acc_amount['dem']}</a></th><th><a id="a_wem" class="num">￥{$acc_amount['wem']}</a></th><th><a id="a_mem" class="num">￥{$acc_amount['mem']}</a></th></tr>
								<tr class="alt"><th><div class="ac-icon ac-icon-pay">支&nbsp;出</div></th><th><a id="a_dpm" class="num">￥{$acc_amount['dpm']}</a></th><th><a id="a_wpm" class="num">￥{$acc_amount['wpm']}</a></th><th><a id="a_mpm" class="num">￥{$acc_amount['mpm']}</a></th></tr>
							</table>
						</dd>
						<dd>
							本月预算支出&nbsp;<a id="a_mdm" class="num">{$acc_amount['mdm']}</a>&nbsp;元， 还剩&nbsp;<a id="a_remdm" class="num">{$acc_amount['remdm']}</a>&nbsp;元&nbsp;可以消费。("&nbsp;-&nbsp;"表示未填写该月预算)
						</dd>
					</dl>
				</div>
				<div class="bm">
					<div class="bm_h ac_smreport cl">
						<h3><img src="static/image/feed/poll.gif" />&nbsp; 本月收支趋势图</h3>
					</div>
					<div  class="bm_c">
						<div id="container" style="width: 100%; height: 220px; margin: 0 auto"><img style="padding:65px 0 70px 130px;vertical-align:middle" src="{$basedir}js/images/LoadingBlue.gif"><font style="font-size: 1.2em;">&nbsp;正在为您加载本月收支信息...</font></div>
					</div>
				</div>
			</div>
			<div class="ac_sd">&nbsp;</div>
		</div>
		<!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
	</div>
	<div class="appl">
		<div class="tbn">
			<h2 class="mt bbda">理财中心</h2>
			<ul>
				<li class="a"><a href="$baseurl">账单新增</a></li>
				<li><a href="$baseurl&mod=richlist">账本清单</a></li>
				<li><a href="$baseurl&mod=richbudget&act=showlist">账目预算</a></li>
				<li><a href="$baseurl&mod=richcount&act=showlist">报表统计</a>
				<li><a href="$baseurl&mod=richset&act=set">账本设置</a></li>
			</ul>
		</div>
	</div>
</div>

<!--[diy=diyaccountbottom]--><div id="diyaccountbottom" class="area"></div><!--[/diy]-->

<script type="text/javascript" src="{$_G[setting][jspath]}calendar.js?{VERHASH}"></script>
<script type="text/javascript" src="{$basedir}js/jquery-1.6.2.min.js"></script>
<link type="text/css" href="{$basedir}js/calculator.css" rel="stylesheet" />
<script type="text/javascript" src="{$basedir}js/calculator.js"></script>
<link type="text/css" href="{$basedir}js/catcomplete.css" rel="stylesheet" />
<script type="text/javascript" src="{$basedir}js/catcomplete.js"></script>
<!-- <script type="text/javascript" src="{$basedir}js/jquery.form.js"></script>
<script type="text/javascript" src="{$basedir}js/pinyin.dict.src.js"></script>
<script type="text/javascript" src="{$basedir}js/pinyin.js"></script> -->
<script type="text/javascript" src="{$basedir}js/highcharts.js"></script>
<script type="text/javascript" src="{$basedir}js/richadd.js"></script>

<!--{template common/footer}-->