<!--{template common/header}-->

<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em>
		<a href="$baseurl">理财中心</a> <em>&rsaquo;</em> 账单清单
	</div>
</div>

<style id="diy_style" type="text/css"></style>

<!--[diy=diyaccounttop]--><div id="diyaccounttop" class="area"></div><!--[/diy]-->

<div class="ct2_a wp cl">
	<div class="mn">
		<!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
		<div class="fl ac_fl">
			<div class="bm ac_x">
				<div class="bm_h">
					<strong>明细查询条件:&nbsp;&nbsp;&nbsp;</strong>
					<span id="sel_showp" class="ac_sel ac_showm"><a>支出名称</a></span><span class="pipe">|</span>
					<span id="sel_showe" class="ac_sel ac_showm"><a>收入名称</a></span><span class="pipe">|</span>
					<span id="sel_showt" class="ac_sel ac_showm"><a>账单类别</a></span><span class="pipe">|</span>
					<span id="sel_showb" class="ac_sel ac_showm"><a>账单归属</a></span><span class="pipe">|</span>
					<span id="sel_showl" class="ac_sel ac_showm"><a>借贷归属</a></span><span class="pipe">|</span>
					<span id="sel_stime2" class="ac_sel ac_showm"><a>时间范围</a></span><span class="pipe">|</span>
					<span id="sel_clr" class="ac_selclr"><a>条件清除</a></span><span class="pipe">|</span>
					<span id="sel_all" class="ac_selall"><a>全部数据</a></span>
					<div id="sel_hidep" class="ac_sel ac_hidem"><a>支出名称</a></div>
					<div id="sel_hidee" class="ac_sel ac_hidem"><a>收入名称</a></div>
					<div id="sel_hidet" class="ac_sel ac_hidem"><a>账单类别</a></div>
					<div id="sel_hideb" class="ac_sel ac_hidem"><a>账单归属</a></div>
					<div id="sel_hidel" class="ac_sel ac_hidem"><a>借贷归属</a></div>
					<div id="sel_htime2" class="ac_sel ac_hidem"><a>时间范围</a></div>
					{$ac_pdiv}{$ac_ediv}
					<div id="ac_popt" ac_pop="type" class="ac_pop">
						<ul id="ul_type" ul_aid="a_type" class="ac_ul" sum="0" count="4">
							<li sum="0" count="0" a_clsid="0"><a class="selimg_empty selimg_0">支出类型</a></li>
							<li sum="0" count="0" a_clsid="0"><a class="selimg_empty selimg_0">收入类型</a></li>
							<li sum="0" count="0" a_clsid="0"><a class="selimg_empty selimg_0">转账类型</a></li>
							<li class="selimg_arrow" sum="0" count="4" div_id="pop_type1" a_clsid="0"><a class="selimg_empty selimg_0">借贷类型</a></li>
						</ul>
						<a id="a_type" class="ac_h selimg_empty selimg_0" a_ulid="ul_type" a_clsid="0">全部</a><br />
						<button class="pn pnc" style="margin: 0px 0px 6px 20px;"><strong>确定</strong></button>
					</div>
					<div id="pop_type1" class="ac_pop" div_ulid="ul_type1">
						<ul id="ul_type1" popn="div_ul">
							<li a_clsid="0"><a class="selimg_empty selimg_0">借入</a></li>
							<li a_clsid="0"><a class="selimg_empty selimg_0">借出</a></li>
							<li a_clsid="0"><a class="selimg_empty selimg_0">还债</a></li>
							<li a_clsid="0"><a class="selimg_empty selimg_0">收债</a></li>
						</ul>
					</div>
					{$ac_bdiv}{$ac_ldiv}
					<div id="ac_popt2" ac_pop="time2" class="ac_pop">
						<label style="margin:0 3px;">从</label><input type="text" readonly="readonly" onclick="showcalendar(event, this)" class="px" id="bdate"/>
						<label style="margin:0 3px;">到</label><input type="text" readonly="readonly" onclick="showcalendar(event, this)" class="px" id="edate"/>
						<button class="pn pnc" style="margin:0 0 0 4px;"><strong>确定</strong></button>
					</div>
				</div>
			</div>
		</div>
		<div class="bm bw0 ac_y" style="margin-bottom: 0px;">
			<h1 class="mt">account_tab</h1>
			<ul class="tb cl">
				<li id="li_popmenu" class="ac_showm"><a id="a_popmenu" style="padding-right: 0; border: none; background: transparent;">{$richlist_y}年</a></li>
				<li><a ac_tab="undo" id="tb_time1" data="bTime={$richlist_y}-{$richlist_m}-1&eTime={$richlist_y}-{$richlist_m}-{$richlist_t}">{$richlist_m}月份</a></li>
				<li><a ac_tab="use" id="tb_pay" title="关闭" style="display: none;">支出条件</a></li>
				<li><a ac_tab="use" id="tb_earn" title="关闭" style="display: none;">收入条件</a></li>
				<li><a ac_tab="use" id="tb_type" title="关闭" style="display: none;">类别条件</a></li>
				<li><a ac_tab="use" id="tb_category" title="关闭" style="display: none;">账单归属条件</a></li>
				<li><a ac_tab="use" id="tb_debt" title="关闭" style="display: none;">借贷归属条件</a></li>
				<li class="y"><label style="padding-right: 0;">备注搜索：</label><input id="s_input" class="px" style="width: 100px;"></li>
			</ul>
		</div>
		<div class="bm bw0" style="border-width: 0;">
			<table id="datatable" class="ac_dt" cellpadding="0" cellspacing="0">
				<thead class="fl bm">
					<tr class="bm_h">
						<th class="th_2"><font color="#8C8C8C">操作/&nbsp;</font><span class="ac_colblue">时间</span></th>
						<th class="th_3"><span>账单名称</span></th>
						<th class="th_1"><span style="color:#8C8C8C;">(顶)</span></th>
						<th class="th_4"><span>金&nbsp;额</span></th>
						<th class="th_1"><span>类&nbsp;别</span></th>
						<th class="th_2"><span>账&nbsp;户</span></th>
						<th>备&nbsp;注</th>
					</tr>
				</thead>
				<tbody>
				<tr id="loading"><td colspan="7">
				<div id="container" style="width: 100%; height: 100%; margin: 0 auto">
					<img style="padding:65px 0 70px 130px;vertical-align:middle" src="{$basedir}js/images/LoadingBlue.gif">
					<font style="font-size: 1.2em;">&nbsp;正在为您加载相关信息...</font>
				</div>
				</td></tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="appl">
		<div class="tbn">
			<h2 class="mt bbda">理财中心</h2>
			<ul>
				<li><a href="$baseurl">账单新增</a></li>
				<li class="a"><a href="$baseurl&mod=richlist">账本清单</a></li>
				<li><a href="$baseurl&mod=richbudget&act=showlist">账目预算</a></li>
				<li><a href="$baseurl&mod=richcount&act=showlist">报表统计</a>
				<li><a href="$baseurl&mod=richset&act=set">账本设置</a></li>
			</ul>
		</div>
	</div>
</div>

<!--[diy=diyaccountbottom]--><div id="diyaccountbottom" class="area"></div><!--[/diy]-->

<script type="text/javascript" src="{$_G[setting][jspath]}calendar.js?{VERHASH}"></script>
<script type="text/javascript" src="{$basedir}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{$basedir}js/position-1.8.17.min.js"></script>
<script type="text/javascript" src="{$basedir}js/dataTables.js"></script>
<script type="text/javascript" src="{$basedir}js/richlist.js"></script>

<!--{template common/footer}-->